* {
	padding: 0px;
	margin: 0px;
}
.container {
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	width: 100%
}
.index {
	width: 40%;
}
.index a {
	text-decoration: none;
	color: green;
	font-size: 25px;
	margin: 15px;
}
.index h2 {
	color: green;
}
.nav {
	display: flex;
	justify-content: center;
	width: 50%;
	background: black;
}
.nav ul li {
	display: inline-block;
	color: white;
	font-size: 20px;
	margin: 15px;
}
.contact {
	width: 10%;
	background: green;
}
.contact p {
	font-size: 20px;
	margin: 15px;
	text-align: center;
}
.slide {
	width: 100%;
}
.slide img {
	width: 100%;
}
content {
	padding: 75px;
}
content .title {
	color: green;
}
content section {
	margin-top: 25px;
	margin-bottom: 25px;
}
.title-2 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.paragraph {
	margin-top: 15px;
	margin-bottom: 15px;
}
.paragraph p {
	font-size: 20px;
}
table {
	width: 100%;
	border-collapse: collapse;
}
table, th, td {
   border-bottom: 1px solid black;
   font-size: 20px;
   text-align: left;
   padding-top: 25px;
   padding-bottom: 25px;
}
.image {
	width: 100%;
}
.product {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.image {
	width: 45%;
}
.image img {
	width: 100%;
}
.employee {
	width: 30%;
	background: lightgray;
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}
.employee img {
	width: 100%;
}
.name {
	color: green;
}
.note {
	background: green;
	position: absolute;
	width: 105px;
	height: 35px;
	top: 0px;
	right: 0px;
}
.note p {
	text-align: center;
	font-size: 20px;
	color: white;
}
.employee .image-2 img:hover {
	opacity: 0.5;
	
} 
